<!-- template.html -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Hot Search</title>
    <link rel="stylesheet" href="template/styles.css">
</head>
<body>
    <h1>🔥🔥🔥</h1>

    <section id="table1_section">
        <h2>
            <span class="ant-design--weibo-square-outlined"></span>
        </h2>
        <table id="table1">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Title</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody>
                {{table1_rows}}
            </tbody>
        </table>
    </section>

    <section id="table2_section">
        <h2>
            <span class="ant-design--zhihu-square-filled"></span>
        </h2>
        <table id="table2">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Title</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody>
                {{table2_rows}}
            </tbody>
        </table>
    </section>

</body>
</html>
